In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.decomposition import PCA
from sklearn import preprocessing
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
dset = pd.read_csv ('new.csv')
dset.keys()

Index(['age', 'HE_sbp', 'HE_wc', 'HE_BMI', 'HE_chol', 'HE_HDL_st2', 'N_FAT'], dtype='object')

In [3]:
df=pd.DataFrame(dset)
df=df.replace(' ', np.NaN)
df

      age HE_sbp  HE_wc            HE_BMI HE_chol HE_HDL_st2             N_FAT
0      30    104   81.9  28.9398577909837     184     51.552  57.7223486977762
1      56    116     84  28.4007126790205     NaN        NaN  48.9471946015806
2      29    131   85.5  28.6597082714648     191     43.936  100.764834735342
3      65    132     71  20.1882379149031     133     30.608  39.5014208507789
4      57    113   63.3  19.4215435985507     168     46.792               NaN
...   ...    ...    ...               ...     ...        ...               ...
7545   30    132  103.1  29.5073251417769     181      60.12  20.0093110656924
7546   55    122   96.3  28.4453713327845     225     61.072  15.5394723269073
7547   58    151    111  31.8538712257376     201     47.744  13.1507548420675
7548   63    141   84.2  25.0715776569083     189      64.88  71.4495547027698
7549   71    162   95.1  26.6766697951351     161     37.272  59.8136551723254

[7550 rows x 7 columns]

In [4]:
df=df.dropna()
df

      age HE_sbp  HE_wc            HE_BMI HE_chol HE_HDL_st2             N_FAT
0      30    104   81.9  28.9398577909837     184     51.552  57.7223486977762
2      29    131   85.5  28.6597082714648     191     43.936  100.764834735342
3      65    132     71  20.1882379149031     133     30.608  39.5014208507789
5      66    116     84  24.1459086723119     148     33.464  28.6307108102753
7      15    111   79.3   25.700574777227     182       50.6  25.1141498111477
...   ...    ...    ...               ...     ...        ...               ...
7545   30    132  103.1  29.5073251417769     181      60.12  20.0093110656924
7546   55    122   96.3  28.4453713327845     225     61.072  15.5394723269073
7547   58    151    111  31.8538712257376     201     47.744  13.1507548420675
7548   63    141   84.2  25.0715776569083     189      64.88  71.4495547027698
7549   71    162   95.1  26.6766697951351     161     37.272  59.8136551723254

[4910 rows x 7 columns]

In [5]:
from sklearn.preprocessing import MinMaxScaler

from sklearn.preprocessing import StandardScaler

scaler=StandardScaler()
scaler.fit(df)

StandardScaler()

In [6]:
scaled_data=scaler.transform(df)

scaled_data

array([[-0.9234382 , -0.78012281,  0.18808397, ..., -0.01036123,
         0.02442673,  0.37802027],
       [-0.97615518,  0.89631105,  0.53853695, ...,  0.19117552,
        -0.62212434,  1.6033877 ],
       [ 0.92165592,  0.95840119, -0.87300979, ..., -1.47870038,
        -1.75358871, -0.14070747],
       ...,
       [ 0.55263709,  2.1381139 ,  3.02091226, ...,  0.47908515,
        -0.29884881, -0.890879  ],
       [ 0.81622197,  1.51721247,  0.41198449, ...,  0.13359359,
         1.15589109,  0.76881719],
       [ 1.23795777,  2.82110547,  1.47307824, ..., -0.67255339,
        -1.18785652,  0.43755723]])

In [7]:
from sklearn.decomposition import PCA

pca=PCA(n_components=3)

pca.fit(scaled_data)

PCA(n_components=3)

In [8]:
x_pca=pca.transform(scaled_data)

scaled_data.shape

(4910, 7)

In [9]:
x_pca.shape

(4910, 3)

In [10]:
x_pca

array([[ 0.16755471,  1.28100501,  0.80825847],
       [ 0.95461436,  1.89309884,  1.08334824],
       [-0.04539937,  0.11998183, -2.50913348],
       ...,
       [ 4.24101458,  0.30795332,  0.42244455],
       [ 0.97953401, -0.55182231,  0.87574293],
       [ 2.95482148,  0.54578694, -0.92272346]])

In [11]:
principle_df = pd.DataFrame(data = x_pca, columns = ['princ comp1', 'princ comp2', 'princ comp3'])
principle_df

      princ comp1  princ comp2  princ comp3
0        0.167555     1.281005     0.808258
1        0.954614     1.893099     1.083348
2       -0.045399     0.119982    -2.509133
3        0.938765     0.552352    -1.768078
4       -0.433191     0.726422     0.232167
...           ...          ...          ...
4905     2.016301     0.629273     0.833561
4906     2.044800    -0.620282     1.229860
4907     4.241015     0.307953     0.422445
4908     0.979534    -0.551822     0.875743
4909     2.954821     0.545787    -0.922723

[4910 rows x 3 columns]

In [12]:
print('Explained variation per principal component: {}'.format(pca.explained_variance_ratio_))

Explained variation per principal component: [0.36328792 0.187984   0.1609795 ]

In [13]:
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from math import sqrt
import numpy as np

# r2 = r2_score(scaled_data, pca)
# rmse = sqrt(mean_squared_error(scaled_data, pca))

# RMSE normalised by mean:
#nrmse = rmse/sqrt(np.mean(df**2))